.form {
    display: flex;
    flex-direction: column;
    padding: 36px 156px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form > label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input[type="number"] {
    width: 360px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="number"]:hover {
    border-color: #000;
}

input[type="number"]:focus, 
input[type="number"]:active {
    border-color: #4e75ff;
}

fieldset {
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
    width: 360px;
    margin-bottom: 24px;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
}

legend {
    margin-left: 28px;
    padding: 0 2px;
}

input[type="radio"] {
    border: 1px solid #757575;
    border-radius: 14px;
    width: 20px;
    height: 20px;
}
